body {
    margin: 0;
    font-family: sans-serif;
}

.form {
    margin: 0 auto;
    width: 1020px;
}

.fieldset-white {
    border: none;
    display: flex;
}

.legend {
    color: #8EC8B9;
    font-weight: 600;
    float: left;
    width: 30%;
}