body {
    font-size: 0;
}

.block_1,
.block_2,
.block_3 {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    padding: 10px;
}

.block_1 {
    background-color: green;
}

.block_2 {
    background-color: blue;
    width: 150px;
    height: 50px;
    text-align: center;
}

.block_3 {
    background-color: red;
}